<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h1>Шаблонная страничка</h1>
    <p><span style="font-size:36px"><strong><span style="background-color:rgb(255, 255, 255);
    color:rgb(32, 33, 36); font-family:google sans,arial,sans-serif">Съешь ещё этих мягких французских булок,
    </span></strong></span></p>
    <p><em><strong><span style="font-size:24px"><span style="background-color:rgb(255, 255, 255);
    color:rgb(32, 33, 36); font-family:google sans,arial,sans-serif">да выпей же чаю.
    </span></span></strong></em></p>

<!--    <i>{{ flatpage.content }}</i>-->
</body>
</html>